# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# logs
*.log

# pytest
.cache/

